@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root{
    --main-color: #0563bb;
}
body{
    font-family: 'Raleway', sans-serif;
    margin-bottom: -80px;
    overflow-x: hidden;
}
section{
    margin: 40px auto;
    z-index: 1;
    overflow-y: visible;
}
.box{
    transform: translateX(calc(100vw + 60px));
    transition: transform 0.4s ease;
}
.box:nth-of-type(even){
    transform: translateX(-100vw);
}
.box.show{
    transform: translateX(0);
}

/*navbar-section*/
.navbar-nav{
    margin-left: 40rem;
}
.navbar-nav li{
    margin-right: 45px;
}
.navbar-nav li a{
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.navbar-nav li:hover{
    background-color: var(--main-color);
    border-radius: 10px;
}
.navbar-nav li a:hover{
    color: white;
}
.navbar-brand{
    margin-left: 5rem;
}
.small-nav{
    display: none;
}

/*navbar-section on small screen*/
@media (max-width: 800px){
    body{
        font-family: 'Raleway', sans-serif;
        overflow: hidden;     
    }
    main{
        max-width: 80vw;
        margin: 80px auto;
    }
    .navbar-nav li:hover{
        background-color: var(--main-color);
        border-radius: 0;
        transform: scale(0.98);
    }
    .navbar-brand{
        margin: 0;;
    }
    .navbar-toggler{
        position: absolute;
        right: 10px;
    }
    .navbar-toggler:focus{
        outline: 0;
    }
    .small-nav{
        display: block;
        position: relative;
    }
    .big-nav{
        display: none;
    }
}


/*jumbotron-section*/
.jumbotron-heading{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    line-height: 54px;
    word-spacing: 0;
}
.jumbotron-subheading{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    line-height: 36px;
    word-spacing: 0;
}
.jumbotron-image{
    width: 20vw;
    margin: 0 40vw;
    height: auto;
    max-width: 100%;
}
/*jumbotron on small screen*/
@media (max-width: 800px){
.jumbotron-image{
    width: 40vw;
    margin: 0 20vw;
}
}


/*about-section*/
.about-heading{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 39px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.about-heading::before{
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.about-heading::after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--main-color);
    bottom: 0;
    left: calc(50% - 20px);
}
.about-text{
    padding: 10px 80px;
    margin: 5px;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
}
.about-content{
    padding: 10px 50px;
}
.about-content h3{
    color:  #728394;
    line-height: 31px;
    font-weight: 700;
    text-align: center;
}
.about-content p{
    text-align: center;
}
.technologies-icon{
    list-style: none;
}
.technologies-icon li{
    padding-bottom: 10px;
    font-size: 20px;
}
.technologies-icon li i{
    color: var(--main-color);
    padding-right: 4px;
    font-size: 25px;
}
svg{
    font-size: 100px;
    margin-left: -8px;
    margin-right: -9px;
}
.firebase{
    font-weight: bold;
}
/*about-section on small screen*/
@media (max-width: 800px){
    .about-text{
        padding: 0px;
    }
    .about-content{
        padding: 0;
    }
}

/*Projects-section*/
.projects-heading{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 39px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.projects-heading::before{
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.projects-heading::after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--main-color);
    bottom: 0;
    left: calc(50% - 20px);
}
.projects-section .row{
    margin-top: 50px;
}
.projects-image{
    width: 45vw;
    border-radius: 10px;
    padding-left: 5px;
}
#project-box:hover  .projects-image{
    transform: scale(0.98);
}
.projects-info{
    padding: 50px 5px;
}
.projects-info h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}
.projects-info{
    font-size: 18px;
}
.projects-link{
    color: #ed8299;
    text-decoration: none;
    font-size: 18px;
}
#project-box:hover .projects-link{
    text-decoration: underline;
    color: #ed8299;
}
#project-box:hover .project-heading{
    text-decoration: underline;
}
#project-box:hover .projects-link i{
    margin-left: 10px;
}

/*projects-section on small screen*/
@media (max-width: 800px){
    .projects-image{
        width: 80vw;
        padding-left: 0;
    }
}


/*Services-section*/
.services-heading{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 39px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.services-heading::before{
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.services-heading::after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--main-color);
    bottom: 0;
    left: calc(50% - 20px);
}
#services-container{
    padding: 80px 10px;
    box-shadow: 2px 4px 5px rgba(95, 95, 95, 0.15), -2px -4px 5px rgba(95, 95, 95, 0.15);
    transition:  all ease-in-out 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services-container:hover{
    outline: inset 5px rgba(196, 190, 190, 0.185);
}
.icon-code{
    background-color: whitesmoke;
    border-radius: 50px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    align-self: center;    
}
.icon-blue{
    color: var(--main-color);
}
#services-container:hover .icon-blue{
    background-color:  var(--main-color);
    color: whitesmoke;
}
.icon-orange{
    color: #ffa76e;
}
#services-container:hover .icon-orange{
    background-color:  #ffa76e;
    color: whitesmoke;
}
.icon-pink{
    color: #e80368;
}
#services-container:hover .icon-pink{
    background-color:  #e80368;
    color: whitesmoke;
}
.icon-heading{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 5px 0;
}
.services-text{
    padding: 5px 20px;
    text-align: center;
}



  /*Contact-section*/
  .contact-heading{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 39px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.contact-heading::before{
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.contact-heading::after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--main-color);
    bottom: 0;
    left: calc(50% - 20px);
}
.info{
    padding: 0 10vw;
}
.info-hover{
    margin-bottom: 20px;
}
.info-hover:hover .contact-icon{
    background-color: var(--main-color);
    color: #fff;
}
.contact-icon{
    padding: 15px;
    font-size: 20px;
    background-color: #eef7ff;
    color: var(--main-color);
    border-radius: 50%;
}
.icon-head{
    display: inline;
    font-weight: bold;
}
.icon-small{
    display: block;
    margin-left: 50px;
}

.form-group{
    position: relative;
    margin-bottom: 50px;
    margin-top: 30px;
}
.form-item{
    display: block;
    width: 100%;
    font-family: inherit;
    border: 1px solid #ced4da;
    padding: 0.375rem  0.75rem;
    margin-top: 10px;
    border-radius: 5px;
    color: #495057;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out;
}
.form-item:focus, .form-item:valid{
    outline: 0;
    border-color: var(--main-color);
}
.form-group label{
    position: absolute;
    top: -23px;
    left: 14px;
    font-weight: bold;
}
.form-group label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s ease-in-out;
}
.form-group input:focus + label span,
.form-group input:valid + label span{
    color: var(--main-color);
    transform:  translateY(-30px);
}
 select{
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
  }
  .select-wrapper {
    position: relative;
  }

  .select-wrapper::after {
    content: "▼";
    color: #495057;
    font-size: 1rem;
    top: 6px;
    right: 10px;
    position: absolute;
  }
button[type="submit"]{
    background-color: var(--main-color);
    border: 0;
    padding: 5px 15px;
    color: #fff;
    transition: all 0.4s ease-in;
    border-radius: 50px;
    width: 30%;
    cursor: pointer;
    font-weight: 900;
}
button[type="submit"]:active{
    transform: scale(0.8);
}
button[type="submit"] i{
    font-weight: 900;
}

/*contact-section on small screen*/
@media (max-width: 800px){
    .info{
        padding: 0;
        margin: 0;
    }
    .services-section{
        margin: 0 -5px;
    }
    button[type="submit"]{
        width: 60%;
        padding: 5px 10px;
    }
}

/*Footer Section*/
footer{
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: #f7f8f9;
    text-align: center;
    padding: 30px 0;
}
footer .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
footer h3{
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
}
footer .social-links{
    margin: 0 0 40px 0;
}
footer .social-links a{
    font-size: 18px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: opacity 0.3s ease;
}
footer .social-links a:hover{
    opacity: 0.8;    
}
footer .social-links a:active{
    transform: scale(0.98);
}

/*footer-section on small screen*/
@media (max-width: 800px){
    footer{
    width: 100%;
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: -125px;
    }
    footer .container{
        padding: 5px;
        margin: 0;
    }
}