@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root{
    --main-color: #0563bb;
}
body{
    font-family: 'Raleway', sans-serif;
}
section{
    margin: 40px 0;
}

/*navbar-section*/
.navbar-nav{
    margin-left: 40rem;
}
.navbar-nav li{
    margin-right: 45px;
}
.navbar-nav li a{
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.navbar-nav li:hover{
    background-color: var(--main-color);
    border-radius: 10px;
}
.navbar-nav li a:hover{
    color: white;
}
.navbar-brand{
    margin-left: 5rem;
}
.nav-container, .navbar-small{
    display: none;
}
/*navbar-section on small screen*/
@media (max-width: 800px){
    body{
        font-family: 'Raleway', sans-serif;
        background-color: var(--main-color);
    }
    .baba-nav, .main2{
        display: none;
    }
    .nav-container, .navbar-small{
        display: block;
    }
    .nav-container{
        background-color: white;
        width: 100vw;
        min-height: 100vh;
        padding: 50px;
        transform-origin: top left;
        transition: transform 0.4s linear;
    }
    .nav-container.show-nav{
        transform: rotate(-20deg);
    }
    .circle-container{
        top: -90px;
        left: -90px;
        position: fixed;    
    }
    .circle{
        height: 180px;
        width: 180px;
        position: relative;
        border-radius: 50%;
        background-color: var(--main-color);
        transition: transform 0.5s linear;
    }
    .circle button{
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100px;
        border: 0;
        background: transparent;
        color: white;
        font-size: 26px;
    }
    .circle button:focus{
        outline: none;
    }
    .circle button#open{
        left: 60%;
    }
    .circle button#close{
        top: 60%;
        transform: rotate(90deg);
        transform-origin: top left;
    }
    .nav-container.show-nav + .navbar-small li{
        transform: translateX(100px);
        transition-delay: 0.3s;
    }
    .nav-container.show-nav  .circle{
        transform: rotate(-90deg);
    }
    .navbar-small{
        left: 0;
        bottom: 60px;
        position: fixed;
        z-index: 100;
    }
    .navbar-small ul{
        color:  white;
        list-style-type: none;
        transform: translateX(-100px);
        transition: transform 0.4s ease-in;
    }
    .navbar-small ul li{
        text-transform: uppercase;
        margin: 30px 0;
        cursor: pointer;
    }
    .navbar-small ul li a{
        text-decoration: none;
        color:  white;
    }
    .navbar-small ul li i{
        margin-right: 5px;
        font-size: 20px;    
    }
    .navbar-small ul li + li{
        margin-left: 10px;
        transform: translateX(-50px);
    }
    .navbar-small ul li + li + li{
        margin-left: 20px;
        transform: translateX(-100px);
    }
    .navbar-small ul li + li + li + li{
        margin-left: 30px;
        transform: translateX(-150px);
    }
    main{
        max-width: 80vw;
        margin: 80px auto;
    }
}


/*jumbotron-section*/
.jumbotron-heading{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    line-height: 54px;
    word-spacing: 0;
}
.jumbotron-subheading{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    line-height: 36px;
    word-spacing: 0;
}
.jumbotron-image{
    width: 20vw;
    margin: 0 40vw;
    height: auto;
    max-width: 100%;
}
/*jumbotron on small screen*/
@media (max-width: 800px){
.jumbotron-image{
    width: 40vw;
    margin: 0 20vw;
}
}


/*about-section*/
.about-heading{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 39px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.about-heading::before{
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.about-heading::after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--main-color);
    bottom: 0;
    left: calc(50% - 20px);
}
.about-text{
    padding: 10px 80px;
    margin: 5px;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
}
.about-content{
    padding: 10px 50px;
}
.about-content h3{
    color:  #728394;
    line-height: 31px;
    font-weight: 700;
    text-align: center;
}
.about-content p{
    text-align: center;
}
.technologies-icon{
    list-style: none;
}
.technologies-icon li{
    padding-bottom: 10px;
    font-size: 20px;
}
.technologies-icon li i{
    color: var(--main-color);
    padding-right: 4px;
    font-size: 25px;
}
/*about-section on small screen*/
@media (max-width: 800px){
    .about-text{
        padding: 5px;
    }
}

/*Projects-section*/
.projects-heading{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 39px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.projects-heading::before{
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.projects-heading::after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--main-color);
    bottom: 0;
    left: calc(50% - 20px);
}